<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>S-HELP</title>
        <!--Include Bootstrap library-->
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--CSS-->
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <!--Icon-->
        <link rel="shortcut icon" type="image/x-icon" href="/../images_and_videos/Icon.png"/>
    </head>
    <body>
        <main class="everything" id="form-page">
            <div class="section" id="about-form">
                <h1>Form</h1>
                <br>
                <p>Here you can calculate the suggested calorie intake for an individual. After that, you can use the second form to figure out your weekly diet plan that is best suited for you.</p>
                <video autoplay muted loop class="background-video">
                    <source src="../images_and_videos/Background_Video_2.mp4" type="video/mp4">
                </video>
            </div>
            
            <div class="section" id="calories-section">
                <h3 id="cal-title">Calorie Calculator</h3>
                <div>
                    <label for="units">Units of measurement: </label>
                    <select name="units" style="width:12%" id="units" class="custom-select">
                        <option value="metric">Metric System</option>
                        <option value="US">Imperial System</option>
                    </select>
                </div>

                <!--prepare questions-->
                <form id="calo-calc">
                    <table style="margin: auto auto;">
                        <tr>
                            <td><label for="weight">Weight(kg): </label></td>
                            <td><input step="0.1" id="weight" name="weight" type="number" placeholder="Weight..." min="0" required></td>
                        <tr>
                        
                        <tr>
                            <td><label id="label-height" for="height">Height(cm): </label></td>
                            <td><input step="0.1" id="height" name="height" type="number" placeholder="Height..." min="0" required></td>
                        </tr>

                        <tr>
                            <td><label for="age">Age: </label></td>
                            <td><input id="age" name="age" type="number" placeholder="Age..." min="12" required></td>
                        </tr>
                    </table>

                    <fieldset name="gender" id="gender-select">
                        <legend>Gender:</legend>
                        <div>
                            <input id="male" name="gender" type="radio" value="1" required>
                            <label for="male">Male</label>
                        </div>
                        <div>
                            <input id="female" name="gender" type="radio" value="0">
                            <label for="female">Female</label>
                        </div>
                    </fieldset>

                    <fieldset name="exercise" id="exercise-select">
                        <legend>Is your exercise intense:</legend>
                        <div>
                            <input id="intense" name="exercise" type="radio" value="1" required>
                            <label for="intense">Yes</label>
                        </div>
                        <div>
                            <input id="not-intense" name="exercise" type="radio" value="0">
                            <label for="not-intense">No</label>
                        </div>
                    </fieldset>

                    <label for="exercise-days">How many days do you exercise per week: </label>
                    <input id="exercise-days" name="exercise-days" type="number" placeholder="Amount of days..." min="0" max="7" required>
                    <br>
                    
                    <br>

                    <input type="submit" class="btn btn-success">
                </form>
                
                <br>
                
                <div id="results"> </div>
            </div>

            <div class="section next-page">
                <br>
                <h3>Learn more about your Diet</h3>
                <br>
                <a href="/info"><input type="button" class="btn btn-success" value="See more info"/></a>
                <!-- prepare questions -->
                <!-- <form id="weekly-diet">
                    <fieldset>
                        <legend>1) What lifestyle do you have or want to have?</legend>
                        
                        <div>
                            <select class="custom-select" style="width: 30%;" id="lifestyle">
                                <option value="vegan">Vegetarian/Vegan</option>
                                <option value="pescitarian">Pescitarian</option>
                                <option value="healthy">Healthy</option>
                                <option value="balance">Balance of healthy and unhealthy</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>2) What is your goal?</legend>
                        
                        <div>
                            <select class="custom-select" style="width: 30%;" id="goal">
                                <option value="lose">Lose weight</option>
                                <option value="maintain">Maintain weight</option>
                                <option value="gain">Gain weight</option>
                                <option value="healthy">Have a healthy lifestyle(80/20 rule)</option>
                                <option value="vegan">Become vegetarian/vegan</option>
                            </select>
                        </div>
                    </fieldset>
                    <br>
                    <label for="cal">Calories needed per day: </label>
                    <input id="cal" name="cal" type="number" placeholder="Calories..." min="0" required>
                    <div id="pop-up"> Use the <a href="#cal-title">calculator</a> above to calculate the needed calories</div>
                    <br>
                    <input type="submit" class="btn btn-success"> -->
                </form>
            </div>

            <nav id="navigation">
                <div id="nav-btns">
                    <button class="btn btn-dark" onClick="changeScreen('index')">Home</button>
                    <button class="btn btn-dark" onClick="changeScreen('form')">Form</button>
                    <button class="btn btn-dark" onClick="changeScreen('info')">About</button>
                    <button class="btn btn-dark" onClick="changeScreen('browse')">Browse</button>
                    <button class="btn btn-dark" onClick="changeScreen('map')">Map</button>
                    <% if (locals.hasOwnProperty("isLoggedIn") && isLoggedIn) { %>
                        <button class="btn btn-dark" onClick="changeScreen('logout')">Logout</button>
                    <%} else {%>
                        <button class="btn btn-dark" onClick="changeScreen('login')">Login</button>
                    <%}%>
                </div>
            </nav>
        </main>
        <footer>Acceleration lab team project of <a href="https://www.h-farm.com/en/h-farm-school" target="_blank">H-Farm International School</a></footer>
        
        <!--Include the jQuery library-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!--include other js scripts-->
        <script type="text/javascript" src="/calc.js"> </script>
        <script type="text/javascript" src="/form.js"> </script>
        <script type="text/javascript" src="/variables.js"> </script>
        <script type="text/javascript" src="/script.js"></script>
    </body>
</html>
