<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>S-HELP</title>
        <!--Include Bootstrap library-->
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--CSS-->
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <!--Icon-->
        <link rel="shortcut icon" type="image/x-icon" href="/../images_and_videos/Icon.png"/>
    </head>
    <body>
        <main class="everything" id="home-every">
            <div class="section" id="intro">
                <video autoplay muted loop class="background-video">
                    <source src="../images_and_videos/Background_Video.mp4" type="video/mp4">
                </video>
                
                <h2 id="name">S-HELP</h2>

                <h1 id="title">Food Sustainability</h1>
                <div>
                    <p>Welcome to our website, we are happy to help however we can!</p>
                </div>
            </div>

            <div class="section" id="about">
                <div class="text-image">
                    <div class="text first-text">
                        <h3 class="subtitle">About us</h3>
                        <p>This website was created by a team that was formed due to the Startup lab subject that <a href="https://www.h-farm.com/en/h-farm-school" target="_blank">H-Farm International School</a> provides. The purpose of the subject is to teach you better business and management skills, therefore it requires the students to form teams and with their brains together come up with an innovative idea that they can then implement to showcase later towards the end of the year.</p>
                        <!-- <p>For this year we had to come up with an idea related to sustainability. Our team decided to built a website that would recommend to a person a weekly diet based on their preferences and calorie intake so as to avoid overconsumption. That diet would also be based off of seasonal food as an extra measure to ensure sustainability.</p> -->
                    </div>
                    <img class="format-images" src="../images_and_videos/About_Us.jpg" id="coffee">
                </div>
            </div>

            <div id="com" class="section">
                <div class="text-image-2">
                    <img id="override" class="format-images" src="../images_and_videos/Com_Image.jpg">
                    <div class="text" id="override-text">
                        <h3 class="subtitle">Communicate</h3>
                        <p>You can follow us on social media:</p>
                        <!--instagram logo-->
                        <a style="color: rgb(40, 40 , 40)" target="_blank" href="https://instagram.com/s_help_hfarm?igshid=YmMyMTA2M2Y="><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                        </svg></a>
                        <br>
                        <label>If you want to contact us send us a mail at:</label>
                        <ul style="list-style-type:none; text-align: center;">
                            <li>sustainability.help.23@gmail.com</li>
                        </ul>
                        <label>Or you can find us at our personal emails: </label>
                        <ul style="list-style-type:none; text-align: center;">
                            <li>fotios.vaitsopoulos@student.h-is.com</li>
                            <li>gabriele.gusmara@student.h-is.com</li>
                            <li>alexandra.bengtsson@student.h-is.com</li>
                            <li>lilian.piovesana@student.h-is.com</li>
                            <li>elena.corona@student.h-is.com</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="section next-page">
                <br>
                <h3>Calculate you daily calorie intake</h3>
                <br>
                <a href="/form"><input type="button" class="btn btn-success" value="See more info"/></a>
            </div>

            <nav id="navigation">
                <div id="nav-btns">
                    <button class="btn btn-dark" onClick="changeScreen('index')">Home</button>
                    <button id="form" class="btn btn-dark" onClick="changeScreen('form')">Form</button>
                    <% if (subscription == "None") { %>
                       <script>document.getElementById("form").disabled = true;</script>
                    <%} %>
                    <button class="btn btn-dark" onClick="changeScreen('info')">About</button>
                    <button class="btn btn-dark" onClick="changeScreen('browse')">Browse</button>
                    <button class="btn btn-dark" onClick="changeScreen('map')">Map</button>
                    <% if (locals.hasOwnProperty("isLoggedIn") && isLoggedIn) { %>
                        <button class="btn btn-dark" onClick="changeScreen('subscribe')">Subscribe</button>
                        <button class="btn btn-dark" onClick="changeScreen('logout')">Logout</button>
                    <%} else {%>
                        <button class="btn btn-dark" onClick="changeScreen('login')">Login</button>
                    <%}%>
                </div>
            </nav>
        </main>
        <footer>Acceleration lab team project of <a href="https://www.h-farm.com/en/h-farm-school" target="_blank">H-Farm International School</a></footer>
        
        <!--Include the jQuery library-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!--include other js scripts-->
        <script type="text/javascript" src="/variables.js"></script>
        <script type="text/javascript" src="/script.js"></script>
    </body>
</html>
