<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>S-HELP</title>
        <!--Include Bootstrap library-->
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--CSS-->
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <!--Icon-->
        <link rel="shortcut icon" type="image/x-icon" href="/../images_and_videos/Icon.png"/>
    </head>
    <body>
        <main class="everything">
            <div class="section" id="info-start">
                <h1 class="subtitle">S-Help Plan</h1>
                <video autoplay muted loop class="background-video">
                    <source src="../images_and_videos/Info_Video.mp4" type="video/mp4">
                </video>
            </div>

            <div class="section plan-info first-bg">
                <h2 class="subtitle">Source of the Problem</h2>
                <br>
                <p>We may all believe that what we eat has minimal impact on the environment and that other larger factors are far more harmful. However, many app users are surprised to learn that food and the lifestyle choices we make everyday account for more than 24% of climate problems. Each individual feels helpless when it comes to climate change, although the fact that you are reading our website is a start! Your personal choices can have a big impact on climate change!</p>
                <p>In fact, studies show that even just eating steak contains 330g CO2 which is like driving a car for 3 miles. Instead, a huge bowl of lentils is like 2 grams of Co2! Here is how you can improve your eating habits and save the environment.</p>
                <p>The worst example is cows' meat, cows produce 25 times more potent than CO2. It takes so many resources to provide cows with a healthy life such as land, fertiliser, water and about 1 billion tons of grain. If this grain was invested to feed humans greenhouse emissions would fall.</p>
                <p>The vegetarian and vegan diets have the least impact on the environment, although it’s not much different in terms of greenhouse emissions. Humans are eating around twice as much meat as their healthy diet requires. We are not saying to cut out meat but to reduce it, focusing on legumes, green food, white meats and fish for nutrients. For example following a Mediterranean Diet will help reduce climate change by 15%.</p>
            </div>

            <div class="section plan-info second-bg">
                <h2 class="subtitle">Overconsumption</h2>
                <br>
                <p>Food waste is a significant issue, with one-third or more of food being thrown away, primarily at the household level. This wastage not only costs money but also harms the environment by wasting water, oil, and other natural resources that went into producing it.</p>
                <p>There are many effective ways to reduce food waste and for a start when you enter our website there is a section devoted to finding the right amount of calories that is right for you. Remember we do not imply that you need to count calories, but we want to make sure you understand the right amount of food that is right to nourish, energize and feed your body.  Some ways to eat the right amount of food for your body are:</p>
                <ul>
                    <li>Familiarise yourself with your portion sizes</li>
                    <li>Include food rich in fibre, protein, complex carbohydrates</li>
                    <li>Understand your hunger queues and don’t mistake them for thirst!</li>
                    <li>Drink a lot of water</li>
                    <li>Slow down when you eat</li>
                    <li>If you finish eating, and you are still hungry, wait 15 minutes before eating again.</li>
                </ul>
                <p>By implementing these strategies, households can significantly reduce the amount of food they waste. Planning meals and proper food storage to prevent overbuying, overeating and early spoilage can really make a difference. </p>
                <img style="width: 80vw" src="../images_and_videos/Overconsumption.png">
                <br>
            </div>

            <div class="section plan-info first-bg">
                <h2 class="subtitle">Sustainable Diet Plan</h2>
                <p>Each individual eats every day, and the choices that we make are what will improve the climate change problems. Your diet should consist of MACROS nutrients, therefore: carbs, protein, and healthy fats. To this list, we need to add fruits and vegetables.</p>
                <p>How much of these foods you should eat depends on your goal. A healthy diet plan suggests 3 meals a day plus two snacks. You should try to keep this format of eating, then spending by your needs and changing the portion size of the foods. With the calculator above you can check the number of calories that you need in a day, to not overeat!</p>
            </div>

            <div class="section plan-info second-bg">
                <h2 class="subtitle">Proteins</h2>
                <p>Protein is an essential food group that you should eat every day. Protein is composed of amino acids. Your body uses amino acids to build and repair muscles and bones and to make hormones and enzymes, protein gives energy and helps with muscle growth. Many individuals eat a big amount of protein to stimulate muscle growth. The biggest mistake people make is thinking that protein comes only from meat. The biggest and richest protein sources are in fact legumes, nuts… If you still want to eat meat and fish frequently, here is a table of proteins which goes from damaging the plant to environmentally friendly protein sources. </p>
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr style="background-color: rgb(145, 0, 0)">
                            <th>Food</th>
                            <th>m<sup>3</sup> of CO2 per 100g</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: rgb(183, 14, 14)">
                            <td>Beef</td>
                            <td>8.46</td>
                        </tr>
                        <tr style="background-color: rgb(214, 44, 44);">
                            <td>Lamb</td>
                            <td>3.19</td>
                        </tr>
                        <tr style="background-color: rgb(240, 71, 71);">
                            <td>Cheese</td>
                            <td>1.52</td>
                        </tr>
                        <tr style="background-color: rgb(214, 118, 44);">
                            <td>Pork</td>
                            <td>1.31</td>
                        </tr>
                        <tr style="background-color: rgb(214, 163, 44);">
                            <td>Poultry(Chicken)</td>
                            <td>1</td>
                        </tr>
                        <tr style="background-color: rgb(228, 217, 56);">
                            <td>Salmon</td>
                            <td>0.73</td>
                        </tr>
                        <tr style="background-color: rgb(133, 228, 56);">
                            <td>Eggs</td>
                            <td>0.29</td>
                        </tr>
                        <tr style="background-color: rgb(118, 208, 44);">
                            <td>Tofu</td>
                            <td>0.04</td>
                        </tr>
                        <tr style="background-color: rgb(74, 151, 11);">
                            <td class="bg-success">Mixed Nuts</td>
                            <td class="bg-success">0.03</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="section plan-info first-bg">
                <h2 class="subtitle">Carbohydrates</h2>
                <p>Carbohydrates are sugar molecules and the main nutrients in our diets. Carbs reserve energy for the body and supply carbon atoms for other syntheses. When choosing more environmentally friendly carbohydrates, it’s important to consult the label of the grains, legumes, lentil pasta, bananas, and apples that you are buying. Here is a list of things you should look out for when buying carbohydrates:</p>
                <ul>
                    <li>Look at the Nutrition Facts labels to find choices lower in sodium, saturated (solid) fat, and sugars. All damaging ingredients for the environment.</li>
                    <li>When choosing fruits and vegetables, which fall under the carb category choose kilometre 0 produce.</li>
                    <li>Look for the word “whole” at the beginning of the ingredients list</li>
                    <li>Foods that say “multi-grain,” “100% wheat,” “high fibre,” or are brown may not be whole grain products. </li>
                    <li>Buy whole-grain products that are tightly packaged and well-sealed. Grains should always look and smell fresh. Also, check the expiration date and storage guidelines on the package.</li>
                    <li>Purchase smaller quantities of whole grain products to reduce spoilage. Most grains in sealed packaging can be kept in the freezer.</li>
                    <li>Reduce the shelf life of grains. Most whole grain flours keep well in the refrigerator for 2 to 3 months and in the freezer for 6 to 8 months. </li>
                </ul>
                <img style="width: 25vw" src="../images_and_videos/Carbs.png">
            </div>

            <div class="section plan-info second-bg">
                <h2 class="subtitle">Healthy Fats</h2>
                <p>A healthy diet should always include healthy fats. There are two types of healthy fats that need to be included for a healthy diet: monounsaturated and polyunsaturated fats. Monounsaturated fats have a double bond between 2 carbon atoms while polyunsaturated fats have more than three double bonds between 2 carbon atoms. These fats provide your body with omega 3 and omega 6, which are things it's important that we incorporate them into our diets. </p>
                <p>Plant-based choices like avocados, nuts, flax, tofu, edamame, chia seeds or olive oil are great alternative sources for this type of fat. However, it's important to understand that not all types of oils have the same benefits. Trans fatty acids or saturated fatty acids are commonly found in commercial foods like crackers, cookies or fast food and should be avoided in favour of healthy unsaturated options. </p>
                <p>Monounsaturated and polyunsaturated fats are considered "heart healthy fats". They help lower cholesterol, reduce the risk of heart diseases and stroke.</p>
            </div>

            <div class="section plan-info first-bg">
                <h2 class="subtitle">The transition</h2>
                <p>The transition to a sustainable diet can be quite tricky, the first step to make is to implement more plant-based foods and to follow the guidelines we spoke about above. This change will also have a big impact on both your health and the environment. Luckily the consumption of plant-based foods has risen and if we all increased this it would make a huge difference. To make sustainable choices in our daily lives, concentrate on reducing overconsumption, focus on plant-based proteins, eating more vegetables and fruits, eating complex carbs and healthy fats, eating local foods… You will be able to succeed in creating a healthier lifestyle and environment! Don't get discouraged because we can grow as a community, look at the graph below we are slowly growing but if we get your help we can reach our goal.</p>
                <img style="width: 40vw;" src="../images_and_videos/Transition.png">
            </div>

            <div class="section plan-info second-bg">
                <h2 class="subtitle">Economic Benefits</h2>
                <p>From an economic point of view, a plant-based diet also has socio-economic benefits, as it is more resilient, meaning that it improves income and gives access to new resources of income for local communities, who are responsible to cultivate and take care of plants and vegetables.</p>
            </div>

            <div class="section plan-info first-bg">
                <h2 class="subtitle">Conclusion</h2>
                <ul>
                    <li>We overconsume food every day and use our features to understand how much food you should eat to nourish your body.</li>
                    <li>Your diet is composed of carbs, protein, healthy fats, fruits and vegetables. Which type of nutrient you choose can have an effect on the planet.</li>
                    <li>The number of meals that you should have should be 3 plus 2 snacks.</li>
                    <li>Protein sources like white meats, legumes, tofu and nuts are more environmentally friendly.</li>
                    <li>You should increase the complex carbs like wholegrain carbs, rice, legumes, beans, carb fruit and veggies (apples, banana and potatoes). You should reduce simple carbs such as white pasta, white bread, chips, chocolate, cereals, sodas…</li>
                    <li>Healthy fats like avocados, nuts, flax, tofu, edamame, chia seeds and olive oil.</li>
                    <li>The transition is difficult, but you are not alone, and you can use our app to help your journey.</li>
                    <li>There is also an economical benefit to this type of diet.</li>
                </ul>
                <br><br>
            </div>

            <div class="section next-page">
                <br>
                <h3>Browse through our recipes</h3>
                <br>
                <a href="/browse"><input type="button" class="btn btn-success" value="See more info"/></a>
            </div>

            <nav id="navigation">
                <div id="nav-btns">
                    <button class="btn btn-dark" onClick="changeScreen('index')">Home</button>
                    <button id="form" class="btn btn-dark" onClick="changeScreen('form')">Form</button>
                    <% if (subscription == "None") { %>
                       <script>document.getElementById("form").disabled = true;</script>
                    <%} %>
                    <button class="btn btn-dark" onClick="changeScreen('info')">About</button>
                    <button class="btn btn-dark" onClick="changeScreen('browse')">Recipes</button>
                    <button class="btn btn-dark" onClick="changeScreen('map')">Map</button>
                    <% if (locals.hasOwnProperty("isLoggedIn") && isLoggedIn) { %>
                        <button class="btn btn-dark" onClick="changeScreen('subscribe')">Subscribe</button>
                        <button class="btn btn-dark" onClick="changeScreen('logout')">Logout</button>
                    <%} else {%>
                        <button class="btn btn-dark" onClick="changeScreen('login')">Login</button>
                    <%}%>
                </div>
            </nav>
        </main>
        <footer>Acceleration lab team project of <a href="https://www.h-farm.com/en/h-farm-school" target="_blank">H-Farm International School</a></footer>
        
        <!--Include the jQuery library-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!--include other js scripts-->
        <script type="text/javascript" src="/variables.js"></script>
        <script type="text/javascript" src="/script.js"> </script>
        <script type="text/javascript" src="/calc.js"> </script>
    </body>
</html>
