<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Boostrap-->
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <!--Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/../images_and_videos/Icon.png"/>
</head>
<body>

    <main class="everything">
        <nav id="navigation">
            <div id="nav-btns">
                <button class="btn btn-dark" onClick="changeScreen('index')">Home</button>
                <button id="form" class="btn btn-dark" onClick="changeScreen('form')">Form</button>
                <% if (subscription == "None") { %>
                <script>document.getElementById("form").disabled = true;</script>
                <%} %>
                <button class="btn btn-dark" onClick="changeScreen('info')">About</button>
                <button class="btn btn-dark" onClick="changeScreen('browse')">Recipes</button>
                <button class="btn btn-dark" onClick="changeScreen('map')">Map</button>
                <% if (locals.hasOwnProperty("isLoggedIn") && isLoggedIn) { %>
                    <button class="btn btn-dark" onClick="changeScreen('subscribe')">Subscribe</button>
                    <button class="btn btn-dark" onClick="changeScreen('logout')">Logout</button>
                <%} else {%>
                    <button class="btn btn-dark" onClick="changeScreen('login')">Login</button>
                <%}%>
            </div>
        </nav>
        <div class="section">
            <br><br>
            <h1 class="subtitle">Subscribe</h1>
            <br>
            <div id="paypal-details-container">
                <select class="custom-select" id="subscription-type" onchange="handleSubscriptionChange()">
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                </select>
                
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </main>

    <footer>Acceleration lab team project of <a href="https://www.h-farm.com/en/h-farm-school" target="_blank">H-Farm International School</a></footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/variables.js"> </script>
    <script type="text/javascript" src="/script.js"></script>
    
    <script src="https://www.paypal.com/sdk/js?client-id=AUPYx0I0HqUy_QlJpFrFUvqBSpXNfIH9O7PkGGMf-ffVYlAc_WGP07Po5O7D8feG9h8J9k8BQlL1BtUF&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
    <script>
        function handleSubscriptionChange() {
            const subscriptionType = document.getElementById("subscription-type").value;
            const container = document.getElementById("paypal-button-container");
        
            container.innerHTML = "";
        
            if (subscriptionType === "monthly") {
                createPayPalButton("P-3VE56647UA693744KMSBWQJA", "625739756447687365513d3d");
            } else if (subscriptionType === "yearly") {
                createPayPalButton("P-6YF333105D737002AMSBWSLY", "65575668636d7835");
            }
        }

        function createPayPalButton(planId, message) {
            paypal.Buttons({
                style: {
                shape: 'rect',
                color: 'gold',
                layout: 'vertical',
                label: 'subscribe'
                },
                createSubscription: function (data, actions) {
                    return actions.subscription.create({
                        plan_id: planId
                    });
                },
                onApprove: function (data, actions) {
                const info = {
                    message: message
                };
        
                fetch('/message', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(info)
                })
                }
            }).render('#paypal-button-container');
        }
 
        handleSubscriptionChange();
    </script>
</body>
</html>